<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body{margin:40px auto;padding:0 10px;max-width:650px;
  line-height:1.6;font-size:18px;font-family:sans-serif;color:#444}
h1,h2,h3{line-height:1.2}
button, input, .card{
  padding: 4px;
  margin: 2px;
}
.flex_cards{
  display:flexbox;
  display:flex;
  position: relative;
  flex-wrap: wrap;
}
.card{
  flex: 1;
  width: 50%;
  max-width: 200px;
  max-height: 200px;
  min-width: 150px;
  border: 2px solid black;
  text-align: center;
  position: relative;
}
.card img{
  max-width: 100%;
  max-height: 100%;
}</style>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script>
var setup = { base: '{{ mountpath }}', img_lib: '{{ mountpath }}/library/', gameId:'{{ gameId }}' };
</script>
<h2>
Chameleon admin. <span id="gameId"></span>
</h2>
<div id="players"></div>
<form class="card-upload" action="/" method="post">
  <label for="cards">Upload cards to hand: </label><input type="file" name="cards" accept="image/*" multiple>
  <input type="submit" name="submit" value="Upload">
</form>
<div id="actions"></div>
<div class="zones"></div>
<div id="hand" class="flex_cards"></div>
<div id="feed"></div>
<div id="cards"></div>
<script type="text/javascript">
  if( typeof Element.prototype.clearChildren === 'undefined' ) {
    // Monkey fill from https://stackoverflow.com/questions/3955229/remove-all-child-elements-of-a-dom-node-in-javascript
    Object.defineProperty(Element.prototype, 'clearChildren', {
      configurable: true,
      enumerable: false,
      value: function() {
        while(this.firstChild) this.removeChild(this.lastChild)
      }
    });
  }
</script>
<script src="{{ mountpath }}/clientZone.js"></script>
<script type="text/javascript">
  'use strict';
  var socket = io(setup.base);
  var feed_div = document.getElementById("feed");
  var cards_div = document.getElementById("cards");
  var players_div = document.getElementById("players");
  socket.emit('admin', 'admin');
  function joinGame(id){
    socket.emit('join', id || null, function(gameId){
      const game_id = document.getElementById("gameId");
      const game_link = document.createElement("a");
      game_link.setAttribute('href', setup.base + '/play/' + gameId);
      game_link.setAttribute('target', '_blank');
      game_link.textContent = 'Share ID: ' + gameId;
      game_id.appendChild(game_link);
      setup.gameId = gameId;
      window.history.pushState(setup, "Game " + gameId, setup.base + "/admin/" + gameId);
    });
  }
  joinGame(setup.gameId);
  socket.on('feed', function (data) {
    console.log(data);
    var div = document.createElement('div');
    div.textContent = data.text;
    div.setAttribute('class', 'note');
    feed_div.appendChild(div);
  });
  socket.on('kick', function (data) {
    console.log(data);
    var div = document.createElement('div');
    div.textContent = data.text;
    div.setAttribute('class', 'note warn');
    feed_div.appendChild(div);
  });
  socket.on('players', function(players_string){
    players_div.textContent = players_string;
  });
  socket.on("enable_action",function(data){
    var button = document.createElement('button');
    button.textContent = data.name;
    button.addEventListener('click', (ev)=>{
      socket.emit(data.id);
    })
    document.querySelector('#actions').appendChild(button)
  });
  var zones = [];
  socket.on('zone_new', function(zone_info){
    const new_zone = new Zone(zone_info);
    document.querySelector('.zones').appendChild(new_zone.dom);

    zones.push(new_zone);

  });
  socket.on('zone_deal', function(card_info){
    var zone_idx = zones.map((item) => item.id).indexOf(card_info.zone);
    if(zone_idx<0){
      return false;
    }
    zones[zone_idx].add(card_info);
  });
  socket.on('zone_retrieve', function(card_info){
    var zone_idx = zones.map((item) => item.id).indexOf(card_info.zone);
    if(zone_idx<0){
      return false;
    }
    zones[zone_idx].remove(card_info)
  });
  document.querySelector('form.card-upload').addEventListener('submit',
    function sendUpload(ev){
      ev.preventDefault();
      var submit_data = new FormData();
      const card_input = this.querySelector('input[type="file"]');
      for(var i=0; i<card_input.files.length; i++){
        submit_data.append('cards', card_input.files[i]);
      }
      submit_data.append('game_id', setup.gameId);
      fetch(setup.base + '/card/create', {
        method: 'POST',
        body: submit_data
      })
      .then( (response)=>{
        if(!response.ok){
          const parser = new DOMParser();
          return (response.text().then((text) => {
            const errorText = parser.parseFromString(text, 'text/html').body.innerText;
            throw Error(response.status + ": "+ errorText);
          }));
        }
        return response.json()
      })
      .then( (cards) => {
        // Empty file input.
        card_input.value = '';
        cards_div.clearChildren();
        for(var i=0; i<cards.length; i++){
          var img = document.createElement('img');
          img.src = setup.img_lib + cards[i].src;
          img.setAttribute('class', 'card');
          cards_div.appendChild(img);
        }
      })
      .catch( (err) => {
        console.log('Error uploading cards: '+err);
        var div = document.createElement('div');
        div.textContent = err;
        div.setAttribute('class', 'note');
        feed_div.appendChild(div);
      })
    })
</script>
