<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body{margin:40px auto;padding:0 10px;max-width:650px;
  line-height:1.6;font-size:18px;font-family:sans-serif;color:#444}
h1,h2,h3{line-height:1.2}</style>
<script>
var setup = { base: '{{ mountpath }}', img_lib: '{{ mountpath }}/library/', gameId:'{{ gameId }}'  };
</script>

<h2>
Welcome to Chameleon Game Room
</h2>
<a href="{{ mountpath }}/play">Join an existing game (with 5 character ID)</a>
<br/>
<a href="{{ mountpath }}/admin">Start a new Game as Admin</a>
<h3>What is this</h3>
This is a small app to play <a href="https://bigpotato.com/gb/games/the-chameleon/">The Chameleon</a>.
The Admin needs a copy of the game to be able to upload cards to their "Hand".
Other users can join with a game ID or from a link available in the Admin view.

<h3>Mechanics</h3>
The Admin is able to upload topic cards (png or jpeg) which appear in their hand.
They can then deal the first in their "Hand" to the players' "Topic" zone.
<br/>
The Admin can also generate "Dice Rolls".
This consists of 1x"You are the chameleon" card + (players-1)x"Dice roll is...".
The dice roll references a square on the topic grid.
These can then be dealt to the players' hand.
<br/>
This is all!

<h3>How is is made?</h3>
This app is made using Node.js + express + socket.io and hours of <a href="http://elongman.uk/">Ed Longman's</a> time.
You can check out the code on <a href="https://github.com/edlongman/articulate-game-room/">GitHub</a>.
